html{
  background-color : white;
}

#banner{
  float: none;
  width: auto;
  height: 150px;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color: red;
  border: 2px solid black;
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

#profilepic{
  float: left;
  width: 150px;
  height: auto;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 70px;
  /*margin: 10px 0px 0px 70px;*/
  padding: 10px;
}

#HomeParagraph{
  border: solid black;
  border-width: 5px 5px 5px 5px;
  height: auto; /*orig - 145*/
  width: 510px;
  padding: 20px 25px 20px 25px;
  margin-left: 300px;
  /*margin: 10px 0px 0px 300px;*/
}
