p{
  z-index: 1;
  font-family: Arial;
}



.profilepic{
  display: block;
  margin-left: 15%;
  margin-right: auto;
  position: relative;
  top: 2.4em;
  left: 3em;
  height: 25em;
  width: 25em;
  shape-outside: inset(20px 50px 10px 0 round 50px);
  background-color: rgb(255, 255, 255);
  border: 0.3em solid black;
  border-radius: 5%;
  padding: 0em;
  box-shadow: 10px 10px rgb(175, 198, 206);
}

img{
  float: left;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 3.5%;
}

.body{
  position: relative;
  top: 30%;
  left: 0em;
  float: left;
  border: solid black;
  border-width: 5px 5px 5px 5px;
  height: 13em; /*orig - 145*/
  width: 18em;
  padding: 5% 2% 2% 5%;
  margin-left: 0em;
  font-size: 1.8em;
  box-shadow: 10px 10px rgb(175, 198, 206);
}