p{
    z-index: 1;
    font-family: Arial;
}
li{
    z-index: 1;
    font-family: Arial;
    margin: 0% 0% 0% 5%;
}

.projectTitle{
    background-color: #A0E1FF;
    font-family: Arial;
    font-size: 1.7em;
    padding: 2% 0% 2% 2%;
    height: 0.5%;
    margin: 2% 0% 2% 0%;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.projectHeader{
    font-size: 1.5em;    
    margin: 0% 0% 1% 0%;
    font-weight: bold;
}

img{
    float: left;
    width: 50%;
    height: 50%;
}

#banner{
    display: block;
    float: left;
    width: 70%;
    height: 25em;  
    margin-left: 15%;
    margin-right: 30%;
    margin-bottom: 5%;
}

#searchEngineBanner{
    display: block;
    float: left;
    width: 70%;
    height: 15em;  
    margin-left: 15%;
    margin-right: 30%;
    margin-bottom: 5%;
}

.checklistDeliverables{
    display: block;
    float: left;
    width: 70%;
    height: 25em;  
    margin-left: 3%;
    margin-right: 30%; 
    margin-bottom: 5%;
}

.searchEngineDeliverables{
    display: block;
    float: left;
    width: 70%;
    height: 15em;  
    margin-left: 3%;
    margin-right: 30%; 
    margin-bottom: 5%;
}

iframe{
    margin-left: 3%;
    margin-bottom: 5%;
}

embed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 100%;
}

.contactBody{
    position: relative;
    top: 5em;
    display: block;
    margin-left: 30%;
    margin-right: auto;
    float: left;
    border: solid black;
    border-width: 5px 5px 5px 5px;
    height: 100%; /*orig - 145*/
    width: 40%;
    padding: 20px 25px 20px 25px;
    font-family: Arial;
    font-size: 2em;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.resumeBody{
    position: relative;
    top: 10em;
    left: 5%;
    float: left;
    border: solid black;
    border-width: 5px 5px 5px 5px;
    height: 50em; /*orig - 145*/
    width: 80%;
    padding: 20px 25px 20px 25px;
    margin: 0em 0em 20em 0em;
    font-size: 1em;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.projectsBody{
    position: relative;
    top: 6.5em;
    left: 5%;
    float: left;
    border: solid black;
    border-width: 5px 5px 5px 5px;
    height: 270em; /*orig - 145*/
    width: 80%;
    padding: 20px 25px 20px 25px;
    margin: 0em 0em 20em 0em;
    font-size: 1.5em;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.projectContainer{
    grid-template-columns: 1fr;
    grid-template-rows: auto 0%;
    background-color: rgb(211, 233, 240);
    padding: 1% 3% 1% 3%;
    margin-bottom: 4%;
}