p{
    z-index: 1;
    font-family: Arial;
}
li{
    z-index: 1;
    font-family: Arial;
    margin: 0% 0% 0% 5%;
}

.projectTitle{
    background-color: #A0E1FF;
    font-family: Arial;
    font-size: 1.7em;
    padding: 2% 0% 2% 2%;
    height: 0.5%;
    margin: 2% 0% 2% 0%;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.projectHeader{
    font-size: 1.5em;    
    margin: 0% 0% 1% 0%;
    font-weight: bold;
}

img{
    float: left;
    width: 50%;
    height: 50%;
}

#banner{
    display: block;
    float: left;
    width: 35%;
    height: 80%;  
    margin: 2% 10% 5% 15%;
}

#searchEngineBanner{
    display: block;
    float: left;
    width: 50%;
    height: 52%;  
    margin: 7% 5% 5% 2%;
}

#checklistSummary{
    display: block;
    /*Border for debugging purposes to make sure next 
    .projectHeader does not get indented
    
    border : solid;*/
    height : 13em;
    margin: 7% 0% 4% 0%;
}

#checklistSummary > #checklistP{
    padding: 5% 0% 0% 0%;
}

#searchEngineSummary{
    display: block;
    /*Border for debugging purposes to make sure next 
    .projectHeader does not get indented
    
    border : solid;*/
    height : 13em;
    margin: 2% 0% 4% 0%;
}

#searchEngineSummary > #searchEngineP{
    padding: 4% 0% 7% 0%;
}

.checklistDeliverables{
    display: block;
    float: left;
    width: 70%;
    height: 20em;  
    margin-left: 3%;
    margin-right: 30%; 
    margin-bottom: 5%;
}

.searchEngineDeliverables{
    display: block;
    float: left;
    width: 70%;
    height: 15em;  
    margin-left: 3%;
    margin-right: 30%; 
    margin-bottom: 5%;
}

iframe{
    margin-left: 3%;
    margin-bottom: 5%;
}

embed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 100%;
}

.contactpic{
    display: block;
    margin-left: 15%;
    margin-right: auto;
    position: relative;
    top: 2.4em;
    left: 3em;
    height: 25em;
    width: 25em;
    shape-outside: inset(20px 50px 10px 0 round 50px);
    background-color: rgb(255, 255, 255);
    border: 0.3em solid black;
    border-radius: 5%;
    padding: 0em;
    box-shadow: 10px 10px rgb(175, 198, 206);
    overflow: hidden;
}
  
#contactimg{
    float: left;
    margin: -10% 0% 0% -7%;
    width: 110%;
    height: 130%;
    object-fit: fill;
    border-radius: 3.5%;
}

.contactBody{
    position: relative;
    top: 2em;
    display: block;
    float: left;
    border: solid black;
    border-width: 5px 5px 5px 5px;
    height: 8em; /*orig - 145*/
    width: 18em;
    padding: 20px 25px 20px 25px;
    font-family: Arial;
    font-size: 2em;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.resumeBody{
    position: relative;
    top: 10em;
    left: 5%;
    float: left;
    border: solid black;
    border-width: 5px 5px 5px 5px;
    height: 50em; /*orig - 145*/
    width: 80%;
    padding: 20px 25px 20px 25px;
    margin: 0em 0em 20em 0em;
    font-size: 1em;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.projectsBody{
    position: relative;
    top: 6.5em;
    left: 5%;
    float: left;
    border: solid black;
    border-width: 5px 5px 5px 5px;
    height: 238em; /*orig - 145*/
    width: 80%;
    padding: 20px 25px 20px 25px;
    margin: 0em 0em 20em 0em;
    font-size: 1.5em;
    box-shadow: 10px 10px rgb(175, 198, 206);
}

.projectContainer{
    grid-template-columns: 1fr;
    grid-template-rows: auto 0%;
    background-color: rgb(211, 233, 240);
    padding: 1% 7% 3% 7%;
    margin-bottom: 4%;
}